/* Estilo global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

h1,
h2 {
    text-align: center;
}

section.intro {
    margin: 20px;
    line-height: 1.8;
}

header {
    background-color: #ffffff;
    padding: 20px 10px;
    text-align: center;

}

header .banner img {
    max-width: 250px;
    height: auto;
}

.banner-home {
    text-align: center;
    margin: 20px 0;
}

.banner_img img {
    max-width: 100%;
    height: auto;
}


.banner_text {
    position: absolute;
    top: 182%;
    /* Centraliza verticalmente */
    left: 50%;
    /* Centraliza horizontalmente */
    transform: translate(-50%, -50%);
    /* Ajusta a posição para o centro */
    background-color: rgba(0, 0, 0, 0.5);
    /* Fundo opaco com 50% de opacidade */
    color: white;
    /* Cor do texto */
    padding: 20px;
    /* Espaçamento interno */
    text-align: center;
    /* Centraliza o texto */
}

.banner-home {
    text-align: center;
    margin: 20px 0;
}

.banner_img img {
    max-width: 100%;
    height: auto;
}

.intro h2 {
    text-align: center;
}

/* Menu de navegação */
nav {
    background: #0066cc;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover {
    background: #5098d3a8;
}

nav ul li ul {
    display: none;
    position: absolute;
    background: #004080;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li a {
    padding: 10px 15px;
    white-space: nowrap;
}


/* Conteúdo principal */
main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 15px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main .intro {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

main .protocol {
    padding: 20px;
}

main .recommendations {
    padding: 20px;
}

/* Galeria de vídeos e imagens */
.gallery {
    padding: 20px;
}

.gallery .category {
    margin-bottom: 20px;
}

.gallery h3 {
    margin-bottom: 10px;
    color: #004080;
}

.gallery video {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.gallery img {
    max-width: 100%;
    height: auto;
    margin: 10px auto;
    display: block;
}

/* Rodapé */
footer {
    text-align: center;
    background: #004080;
    color: #fff;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
}